In [1]:
# Wednesday Exercise 1
import pandas as pd
import re

df = pd.read_csv("./imdb_top_1000.csv")
# getting rid of useless columns
df.drop(columns=['Poster_Link','Overview'], inplace=True)
df.loc[df['Released_Year'] == "PG"]

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
966,Apollo 13,PG,U,140 min,"Adventure, Drama, History",7.6,77.0,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,269197,"173,837,933"

In [2]:
# getting oldest movie
oldest_movie_row = df['Released_Year'].idxmin()
oldest_movie_title = df.iloc[oldest_movie_row]["Series_Title"]

In [3]:
# getting newest movie
# newest_movie_row = df['Released_Year'].idxmax()
# newest_movie_row = df.iloc[newest_movie_row]
df['Released_Year'] = pd.to_numeric(df['Released_Year'], errors='coerce').dropna()
most_recent = df.loc[df['Released_Year'] == df['Released_Year'].max()]
most_recent

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
18,Hamilton,2020.0,PG-13,160 min,"Biography, Drama, History",8.6,90.0,Thomas Kail,Lin-Manuel Miranda,Phillipa Soo,Leslie Odom Jr.,Renée Elise Goldsberry,55291,NaN
20,Soorarai Pottru,2020.0,U,153 min,Drama,8.6,NaN,Sudha Kongara,Suriya,Madhavan,Paresh Rawal,Aparna Balamurali,54995,NaN
205,Soul,2020.0,U,100 min,"Animation, Adventure, Comedy",8.1,83.0,Pete Docter,Kemp Powers,Jamie Foxx,Tina Fey,Graham Norton,159171,NaN
464,Dil Bechara,2020.0,UA,101 min,"Comedy, Drama, Romance",7.9,NaN,Mukesh Chhabra,Sushant Singh Rajput,Sanjana Sanghi,Sahil Vaid,Saswata Chatterjee,111478,NaN
612,The Trial of the Chicago 7,2020.0,R,129 min,"Drama, History, Thriller",7.8,77.0,Aaron Sorkin,Eddie Redmayne,Alex Sharp,Sacha Baron Cohen,Jeremy Strong,89896,NaN
613,Druk,2020.0,NaN,117 min,"Comedy, Drama",7.8,81.0,Thomas Vinterberg,Mads Mikkelsen,Thomas Bo Larsen,Magnus Millang,Lars Ranthe,33931,NaN

In [4]:
# Top 10 IMDB Rating Movies

df.sort_values('IMDB_Rating', ascending=False).head(10)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994.0,A,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972.0,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
4,12 Angry Men,1957.0,U,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
2,The Dark Knight,2008.0,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,The Godfather: Part II,1974.0,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
5,The Lord of the Rings: The Return of the King,2003.0,U,201 min,"Action, Adventure, Drama",8.9,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
7,Schindler's List,1993.0,A,195 min,"Biography, Drama, History",8.9,94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
6,Pulp Fiction,1994.0,A,154 min,"Crime, Drama",8.9,94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
8,Inception,2010.0,UA,148 min,"Action, Adventure, Sci-Fi",8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"
12,"Il buono, il brutto, il cattivo",1966.0,A,161 min,Western,8.8,90.0,Sergio Leone,Clint Eastwood,Eli Wallach,Lee Van Cleef,Aldo Giuffrè,688390,"6,100,000"

In [5]:
# Top Movie for Each Genre
genres = df['Genre'].str.split(', ')
df['Genres'] = genres
df.drop(columns=['Genre'])

Top_movies = df.explode('Genres').sort_values("IMDB_Rating")
Top_movies.groupby('Genres').agg({"IMDB_Rating":['max'],"Series_Title":["last"]})

          IMDB_Rating                                    Series_Title
                  max                                            last
Genres
Action            9.0                                 The Dark Knight
Adventure         8.9   The Lord of the Rings: The Return of the King
Animation         8.6                   Sen to Chihiro no kamikakushi
Biography         8.9                                Schindler's List
Comedy            8.6                                 La vita è bella
Crime             9.2                                   The Godfather
Drama             9.3                        The Shawshank Redemption
Family            8.6                   Sen to Chihiro no kamikakushi
Fantasy           8.7  Star Wars: Episode V - The Empire Strikes Back
Film-Noir         8.4                                    Sunset Blvd.
History           8.9                                Schindler's List
Horror            8.5                                          Psycho
Music             8.5                                     The Pianist
Musical           8.4                                           Anand
Mystery           8.6                                           Se7en
Romance           8.8                                    Forrest Gump
Sci-Fi            8.8                                       Inception
Sport             8.3                               Bacheha-Ye aseman
Thriller          8.6                                    Gisaengchung
War               8.6                             Saving Private Ryan
Western           8.8                 Il buono, il brutto, il cattivo

In [6]:
# Director with the most movies
df["Director"].value_counts().idxmax()

'Alfred Hitchcock'

In [7]:
#Star with the most movies

df["Stars"] = df[["Star1", "Star2", "Star3", "Star4"]].values.tolist()
Top_movies_by_Actors = df.explode("Stars")
Top_movies_by_Actors["Stars"].value_counts().idxmax()

'Robert De Niro'

In [8]:
# Highest Grossing Movie by Genre
Top_movies['Gross'] = Top_movies['Gross'].str.replace(',','')
Top_movies = Top_movies[Top_movies['Gross'].notna()]
Top_movies['Gross'] = pd.to_numeric(Top_movies["Gross"])
Top_movies.sort_values('Gross',inplace=True)
Top_movies.groupby('Genres').agg({"Gross":['max'],"Series_Title":["last"]})


#Top_movies.sort_values('Gross',inplace=True)
#Top_movies[Top_movies['Gross'].notna()]
#Top_movies.groupby('Genres').agg({"Gross":['max'],"Series_Title":["last"]})

               Gross                                Series_Title
                 max                                        last
Genres
Action     936662225  Star Wars: Episode VII - The Force Awakens
Adventure  936662225  Star Wars: Episode VII - The Force Awakens
Animation  608581744                               Incredibles 2
Biography  255959475                              The Blind Side
Comedy     434038008                                 Toy Story 4
Crime      534858444                             The Dark Knight
Drama      858373000                           Avengers: Endgame
Family     435110554                  E.T. the Extra-Terrestrial
Fantasy    760507625                                      Avatar
Film-Noir   10464000                                   Notorious
History    198676459                          Gone with the Wind
Horror     232906145                                The Exorcist
Music      216428042                           Bohemian Rhapsody
Musical     80500000                         Fiddler on the Roof
Mystery    293506292                             The Sixth Sense
Romance    659325379                                     Titanic
Sci-Fi     936662225  Star Wars: Episode VII - The Force Awakens
Sport      255959475                              The Blind Side
Thriller   335451311                                       Joker
War        216540909                         Saving Private Ryan
Western    184208848                          Dances with Wolves